
@import '_variable';

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: var(--bg-color);
    transition: $trans-color;
    &::-webkit-scrollbar{
        width: 10px;
        background: var(--bg-color);
        &-thumb{
            background: rgba(var(--scroll-color), 0.7);
            border-radius: 10px;
            transition: $trans-color;
        }
    }
}


@import '_nav-header';

@import 'sections/_home';

@import 'sections/_contact';
