.blockContac{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.redeslist__item{
     display: inline-block;
     margin: 0 5px;
     width: 50px;
     height: 50px;
     text-align: center;
}


.redeslist__link{
    display: block;
    padding: 0 10px;
    line-height: 50px;
    background: var(--color-secundario);
    color: var(--color-primario);
    box-shadow: 0 3px 5px 0px rgba(var(--color-secundario-rgb), .4);
    font-size: 18px;
    transition: .2s;
}

.redeslist:hover a{
    filter: blur(2px);
}

.redeslist__item a:hover{
    box-shadow: 0 5px 5px 0px rgba(var(--color-secundario-rgb), .5); 
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.redeslist__link:hover{
    color: $mint-cream;
}

@each $theme-redes, $i in $theme-redes{
    .redeslist__link{
        &--#{$theme-redes}:hover{
            background: $i;
        }
    }
}