// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.project{
  max-width: 1200px;
  margin: auto;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item{
    margin: 20px;
    perspective: 1000px;

    &:hover{
      & .card{
        transform: rotateY(180deg);
      }
    }
  }

  &__description{
    margin-top: 30px;
    font-size: 18px;
  }
}

.card__title {
  font-size: 2em;
  &-back{
    font-size: 1.5em;
  }
}

.card{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  
  &__img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  &__side{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;

      &--front{
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 10px 2px rgba(var(--color-secundario-rgb), 0.25);
        transition: $trans-color;
      }

      &--back{
        transform: rotateY(180deg);
        transition: $trans-color; 
        /* background: white; */

        &--proyecto-r{
          background: rgba(52, 52, 53, 1);
          background: -moz-linear-gradient(
            top,
            rgba(52, 52, 53, 1) 0%,
            rgba(52, 52, 53, 1) 0%,
            rgba(182, 199, 181, 0.76) 100%
          );
          background: -webkit-gradient(
            left top,
            left bottom,
            color-stop(0%, rgba(52, 52, 53, 1)),
            color-stop(0%, rgba(52, 52, 53, 1)),
            color-stop(100%, rgba(182, 199, 181, 0.76))
          );
          background: -webkit-linear-gradient(
            top,
            rgba(52, 52, 53, 1) 0%,
            rgba(52, 52, 53, 1) 0%,
            rgba(182, 199, 181, 0.76) 100%
          );
          background: -o-linear-gradient(
            top,
            rgba(52, 52, 53, 1) 0%,
            rgba(52, 52, 53, 1) 0%,
            rgba(182, 199, 181, 0.76) 100%
          );
          background: -ms-linear-gradient(
            top,
            rgba(52, 52, 53, 1) 0%,
            rgba(52, 52, 53, 1) 0%,
            rgba(182, 199, 181, 0.76) 100%
          );
          background: linear-gradient(
            to bottom,
            rgba(52, 52, 53, 1) 0%,
            rgba(52, 52, 53, 1) 0%,
            rgba(182, 199, 181, 0.76) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343435', endColorstr='#b6c7b5', GradientType=0 );
          box-shadow: 0px 5px 10px 5px rgba(var(--color-secundario-rgb), 0.25);
        }
      }
    }

    &__body{

      &-front{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transform: translateZ(60px);
      }

      &-back{
        padding: 40px;
        text-align: center;
        transform: translateZ(60px);
        color: #fff;
      }

    }

    &__links {
      position: fixed;
      align-items: center;
      top:290px;
      left: 50%;
      transform: translate(-50%);
      justify-content: center;
      display: flex;  
    }

    &__link{
      margin: 30px 10px 0;
      padding: 6.5px 30px;
      font-size: 16px;
      cursor: pointer;
      border: 2px $blue-sapphire solid;
      box-shadow: 1px 1px 30px -5px $dark-sky-blue;
      border-radius: 10px;
      transition: all 400ms;

      &--demo{
        color: $mint-cream;
        background: $blue-sapphire;
          &:active{
            box-shadow: inset 0 0 10px  $blue-sapphire;
          }

        @media (hover:hover){
          &:hover{
            color: $blue-sapphire;
            font-weight: 900;
            background:transparent;
          }
        }
        
      }

      &--code{
        color: $blue-sapphire;
        font-weight: 900;
        background:transparent;
          &:active{
            box-shadow: inset 0 0 10px $mint-cream;
          }
        @media (hover:hover){
          &:hover{
            background-color: $blue-sapphire;
            font-weight: normal;
            color: $mint-cream;
          }
        }
      }
  
    }

}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}


