.flags{
    position: fixed;
    width: 75px;
    display: flex;
    left: 15em;
    
    align-items: center;
    justify-content: space-between;
    
    &__item{
        width: 30px;
    }

    &__img{
        display: block;
        cursor: pointer;
    }
}